<div class="sidebar" [ngClass]="isOpen ? 'open' : ''">
    <div class="logo-details">
        <div class="logo_name">Maple Corner</div>
        <mat-icon class='bx bx-menu' id="btn" (click)="toggleSidebar()">menu</mat-icon>
    </div>
    <ul class="nav-list">
        <li *ngFor="let link of links">
            <a [routerLink]="link.routerLink" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
                <mat-icon>{{ link.matIcon }}</mat-icon>
                <span class="links_name">{{ link.name }}</span>
            </a>
            <span class="tooltip">{{ link.name }}</span>
        </li>
    </ul>
</div>